<form>
    <div class="padl10">
      <h3>Configure Hostname</h3>
      <mat-form-field class="fld-width75">
        <!-- Hostname: {{selectedContainerInfo.Config.Hostname}} -->
        <input disabled type="text" matInput placeholder="Hostname" [value]="selectedContainerInfo.Config.Hostname" />
      </mat-form-field>
    </div>
    <div class="padl10 fld-width75">
      <h3>Configure Ports</h3>
      <table class="full-width ports-table" cellspacing="0" *ngFor="let port of selectedContainerInfo.portConfig">
        <tr class="" *ngFor="let hostPort of port.hostMaps">
          <td>
            <mat-form-field class="protocol-fld full-width">
              <input disabled matInput [value]="port.protocol" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class=" port-fld full-width">
              <input disabled matInput [value]="port.port" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="host-fld full-width">
              <input disabled matInput [value]="hostPort.HostIp || 'localhost'" />
            </mat-form-field>
          </td> :
          <td>
            <mat-form-field class="port-fld full-width">
              <input disabled matInput [value]="hostPort.HostPort" />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  </form>
