<div class="settings-container">
    <mat-tab-group>
      <mat-tab label="General">
        <container-settings-general [selectedContainerInfo]="selectedContainerInfo"></container-settings-general>
      </mat-tab>
      <mat-tab label="Hostname/Ports">
        <container-settings-ports [selectedContainerInfo]="selectedContainerInfo"></container-settings-ports>
      </mat-tab>
      <mat-tab label="Volumes">
          <container-settings-volumes [selectedContainerInfo]="selectedContainerInfo"></container-settings-volumes>
      </mat-tab>
      <mat-tab label="Network">
          <container-settings-network [selectedContainerInfo]="selectedContainerInfo"></container-settings-network>
      </mat-tab>
      <mat-tab label="Advanced">
          <container-settings-advanced [selectedContainerInfo]="selectedContainerInfo"></container-settings-advanced>
      </mat-tab>
    </mat-tab-group>
  </div>