.main-container{
    width:100%;
    height: 100%;
    padding-top:10px;
    box-sizing: border-box;
}
.container-info{
    
}
.container-info-block{
    display: block;
    height: calc(100% - 125px);
}
