<div class=" general-container-info padl10">
    <h3>Container Info</h3>
    <!-- <p mat-body-1><span>id: </span>{{selectedContainer.Id}}</p> -->
    <mat-form-field class="fld-width75">
      <input matInput disabled placeholder="ID" [value]="selectedContainerInfo.Id" />
    </mat-form-field>
    <mat-form-field class="fld-width75">
      <input matInput disabled placeholder="Name" [value]="stripSlash(selectedContainerInfo.Name)" />
    </mat-form-field>
  </div>
  <h3 class="padl10">Environment Variables</h3>
  <form>
    <table class="env-table" cellspacing="0">
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
      <tr *ngFor="let env of selectedContainerInfo.envPairs">
        <td>
          <mat-form-field class="env-full-width">
            <input disabled matInput [value]="env.name" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="env-full-width">
            <input disabled matInput [value]="env.value" />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
