<div class="container-processes-block mat-elevation-z8" *ngIf="dataSource">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- <ng-container *ngFor="let col of displayedColums" [matColumnDef]="col">
          <mat-header-cell *matHeaderCellDef> {{col}} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element[col]}} </mat-cell>
        </ng-container> -->

    <!-- Position Column -->
    <ng-container matColumnDef="PID">
      <mat-header-cell *matHeaderCellDef> PID </mat-header-cell>
      <mat-cell *matCellDef="let process"> {{process.PID}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="USER">
      <mat-header-cell *matHeaderCellDef> USER </mat-header-cell>
      <mat-cell *matCellDef="let process"> {{process.USER}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="TIME">
      <mat-header-cell *matHeaderCellDef> TIME </mat-header-cell>
      <mat-cell *matCellDef="let process"> {{process.TIME}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="COMMAND">
      <mat-header-cell *matHeaderCellDef> COMMAND </mat-header-cell>
      <mat-cell *matCellDef="let process"> {{process.COMMAND}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>